.experience {
    gap: 30px;
    display: grid;
    grid-auto-flow: row;
}

.experience-grid {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.experience-cell {
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--surface-20);
}

.experience-item {
    color: var(--text-30);
}

@media (min-width: 768px) {

    .experience-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
