.portfolio {
    gap: 50px;
    display: grid;
    grid-auto-flow: row;
}

.portfolio-title {
    gap: 30px;
    display: grid;
    grid-auto-flow: row;
}

.portfolio-grid {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.portfolio-cell {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.portfolio-cell:hover .portfolio-image {
    transform: scale(1.05);
}

.portfolio-content {
    padding: 15px;
    left: 0;
    bottom: 0;
    gap: 15px;
    z-index: 1;
    transition: 250ms;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.portfolio-image {
    filter: brightness(0.2);
    transition: 250ms;
}

.portfolio-description {
    color: var(--text-50);
}

.portfolio-button {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-0);
    background-color: var(--primary-0);
}

.portfolio-button:hover {
    text-decoration: none;
    background-color: var(--primary-10);
}

@media (min-width: 768px) {

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-content {
        bottom: -43px;
    }

    .portfolio-cell:hover .portfolio-content {
        bottom: 0;
    }
}